body{
    background-color: lightgrey;
}
.img-logo{

    height: 100px;
    width: 100px;
    margin-left: 10px;
    top: 50px;
    background-color: white;
    border-radius: 80px;
    }
.slogon{
    font-family: fantasy;
    margin-left:120px ;
}
.police{
    text-align: center;
    font-family: "Edwardian Script ITC";
    font-size: xx-large;
}
.police-meteo{
    font-family: "Edwardian Script ITC";
    font-size: x-large;
    text-align: center;
}
.img-arc{
    height: 200px;
    width: 300px;
    margin-left: 70px;

}
.img-invalid{

height: 200px;
width: 300px;
    margin-left: 70px;

}
.img-disney{
    height: 200px;
    width: 300px;
    margin-left: 70px;
}
.img-opera{
    height: 200px;
    width: 300px;
 background-color: lightsteelblue;

    margin-left: 70px;

}

}
